#bodyStyle{
    background-color: antiquewhite;

}

.container-content{
    font-family: monospace;
}

#jumboStyle{
    border-width: 5px;
    border-bottom-color: black;
    font-family: monospace;
    background-color: lightblue;
    height: fit-content;
    padding: 0;
    margin-top: 1em;
    margin-left: 14%;
    margin-right: 14%;
    
}

#topStyle{
    background-color: aliceblue;
}

#topCardStyle{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;

}

#bottomStyle{
    background-color: aliceblue;
}

#cardStyle{
    margin-top: 1em;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
}

tbody{
    text-align: center;
}

#train-submit{
    background-color: lightblue;
    color: black;
    border-color: black;
    float: right;
}